<%= simple_form_for(:user_sessions, url: :user_sessions) do |f| %>

  <%= f.input :name, label: :name %>

  <br />

  <%= f.input :password, label: :password %>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
